body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-family: "outfit";
  background-color: hsl(212, 45%, 89%);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 497px;
  background-color: white;
  border-radius: 10px;
  padding: 16px;
}

.card img {
  width: 100%;
  border-radius: 10px;
}
.title-paragraph {
  text-align: center;
}

.card h1 {
  font-size: 1.6rem;
  font-weight: 400px;
  color: hsl(218, 44%, 22%);
}

.card p {
  font-size: 15px;
  font-weight: 700px;
  color: #7d889e;
}
